<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ username }}'s Steem Wallet</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body > h1, h2, h3, h4, h5, p, h6, i, table {font-family: "Roboto", sans-serif;font-size:50px;}
    h1 {font-size:70px;}
    p.name{font-size:70px!important;}
    i.fa{width:100px!important;height:50px!important;}
    .w3-third{width:90%!important;}
    .w3-twothird{width:90%!important;}
    .text-center{text-align:center!important;}
    table{width:100%}
    td.title{width:40%}
</style>
<body class="w3-light-grey">
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
      <div class="w3-row-padding">
        <div class="w3-third">
          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
              <img src="{{ prof_pic }}" style="width:100%" alt="Avatar">
            </div>
            <div class="w3-container">
              <p class="w3-text-teal text-center name"><b>{{ name }} {{ reputation }}</b></p>
              <p><i class="fa fa-home fa-fw w3-margin-right w3-text-teal"></i>
                <b>From:</b> {{ location }}
              </p>
              <p><i class="fa fa-question-circle fa-fw w3-margin-right w3-text-teal"></i>
                <b>About:</b> {{ about }}
              </p>
              <p><i class="fa fa fa-calendar-check-o fa-fw w3-margin-right w3-text-teal"></i>
                <b>Joined:</b> {{ date_joined }}
              </p>
              <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-teal"></i>
                <b>Update:</b> {{ last_update }}
              </p>
              <p><i class="fa fa-cloud-upload fa-fw w3-margin-right w3-text-teal"></i>
                <b>Posts:</b> {{ post_count }}
              </p>              
              <p><i class="fa fa-thumbs-up fa-fw w3-margin-right w3-text-teal"></i>
                <b>Voting Power:</b> {{ voting_power }}
              </p>
              <p><i class="fa fa-heart fa-fw w3-margin-right w3-text-teal"></i>
                <b>Followers:</b> {{ follower_count }}
              </p>
              <p><i class="fa fa-eye fa-fw w3-margin-right w3-text-teal"></i>
                <b>Following:</b> {{ following_count }}
              </p>
            </div>
          </div><br>
        </div>
    
      </div>
      <div class="w3-row-padding">
        <div class="w3-twothird">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h1 class="w3-text-teal w3-padding-16 text-center"><i class="fa fa-money fa-fw w3-margin-right"></i>Steem Wallet</h1>
            <div class="w3-container w3-text-gray">
                <h6><b>Current</b></h6>
                <p>
                  <table>
                    <tr>
                      <td class="title"><b>Steem</b></td>
                      <td>{{ current_steem }}</td>
                    </tr>
                    <tr>
                      <td class="title"><b>Steem Dollar:</b></td>
                      <td>{{ current_sbd }}</td>
                    </tr>
                    <tr>
                      <td class="title"><b>Steem Power</b></td>
                      <td>{{ current_sp }}</td>
                    </tr>
                  </table>
                </p>
                <hr>
            </div>
            <div class="w3-container w3-text-gray">
              <h6><b>Savings</b></h6>
              <p>
                  <table>
                    <tr>
                      <td class="title"><b>Steem</b></td>
                      <td>{{ savings_steem }}</td>
                    </tr>
                    <tr>
                      <td class="title"><b>Steem Dollar:</b></td>
                      <td>{{ savings_sbd }}</td>
                    </tr>
                  </table>
                </p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>