<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ username }}'s Steem Wallet</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body > h1, h2, h3, h4, h5, p, h6, i {font-family: "Roboto", sans-serif;font-size:50px!important;}
    i.fa{width:100px!important;height:50px!important;}
    .w3-third{width:100%!important;}
    .w3-twothird{width:100%!important;}
</style>
<body class="w3-light-grey">
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
      <div class="w3-row-padding">
        <div class="w3-third">
          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
              <img src="{{ prof_pic }}" style="width:100%" alt="Avatar">
              <div class="w3-display-bottomleft w3-container w3-text-black">
                <h2>{{ name }} {{ reputation }}</h2>
              </div>
            </div>
            <div class="w3-container">
              <p><i class="fa fa-home fa-fw w3-margin-right w3-text-teal"></i>
                <b>From:</b> {{ location }}
              </p>
              <p><i class="fa fa-question-circle fa-fw w3-margin-right w3-text-teal"></i>
                <b>About:</b> {{ about }}
              </p>
              <p><i class="fa fa fa-calendar-check-o fa-fw w3-margin-right w3-text-teal"></i>
                <b>Joined:</b> {{ date_joined }}
              </p>
            </div>
          </div><br>
        </div>
    
      </div>
      <div class="w3-row-padding">
        <div class="w3-twothird">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-money fa-fw w3-margin-right w3-text-teal"></i>Steem Wallet</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
              <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
              <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>